* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

canvas {
  position: absolute;
  inset: 0;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
}

#commandPanel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: gray;
  z-index: 10;
}

#command_input {
  width: calc(100% - 30px);
  height: 100%;
  border: none;
  background: transparent;
  color: white;
  font-size: 16px;
  padding: 0 10px;
}

#command_input::placeholder {
  color: rgb(184, 175, 175);
}